#landing__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
}

#landing__paper_plane {
  background-image: url(../../img/paper-plane.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 228px;
  height: 101px;
  position: fixed;
  top: 50%;
  left: 10%;
  // z-index: 7000;
  animation: paperPlaneMoovement 4s linear infinite;
  // display: none;
}

#landing__paper_plane_transform {

 width: 228px;
  height: 101px;
  position: fixed;
  top: 50%;
  left: 10%;
  transition: transform .3s;
  z-index: 7000;
  // z-index: 10;
}

@keyframes paperPlaneMoovement {
  0% {transform: translateY(0) rotateX(0) rotateZ(-2deg);}
  25% {transform: translateY(-30px) rotateX(1deg) rotateZ(-5deg);}
  50% {transform: rotateX(0) translateY(0) rotateZ(2deg);}
  75% {transform: rotateX(-1deg) translateY(30px) rotateZ(5deg);}
  100% {transform: rotateX(0) translateY(0) rotateZ(-2deg);}
}


#landing__wall {
  background-image: url(../../img/landing-wall.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 40vw;
  z-index: 2000;
  position: absolute;
  bottom: 0%;
  left: 5%;
}

#landing__wall_upper{
  background-image: url(../../img/landing-wall-upper.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 40vw;
  z-index: 10000;
  position: absolute;
  bottom: 0%;
  left: 5%;
}

#landing__text_container {
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#landing__text_container{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#landing__illustration_container {
  height: 100vh;
  width: 50vw;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#landing__text {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  margin: 0;
  padding: 0;
}
#landing__text_clip_path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
